#**Module 3: Data Wrangling Part 1**
In this module, you will learn how to
* Create dataframes with data subsets
* Reduce the number of columns and rows in a dataset
* Explain why reducing data is so important

**Be sure to expand all the hidden cells, run all the code, and do all the exercises--you will need the techniques for the lesson lab!**

#**What is Data Wrangling?**

Think of a magician and their hat trick: First, they pull a white dove out of the hat. They put the dove back into the hat, and next time you look, a white rabbit comes out of the hat. In goes the rabbit, and after a bit of magic, the rabbit turns into a second white dove, and then both doves into a red balloon or a blue silk scarf, and so on. The hat never changes size; however, the contents that go in and come out change their character based on what the magician wants to achieve.

In [33]:
from IPython.display import HTML
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/kx3sOqW5zj4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

Data wrangling is very similar to this: We put one type of data into our "transformation" hat, like strings or categorical data, do our magic, and out comes something else--often numbers, buckets, or other categories. We don't change the size of the hat while we transform the data, that is, we don't change the internal relationships between the data, but we do change their format or the way they are organized. Most often, we change numeric data to different scales, usually between 0 and 1, which is called "Normalization.'

So, when we wrangle data, we transform and map data from one "raw" data format (like string, categorical, or numeric) into another format in order to make it usable for a number of analytical purposes. Other terms used for Data Wrangling are Preprocessing or Data Munging. Whatever the word, the goal is to bend the data to our formatting and subsetting goals so that we can use them with the algorithms and other math that we want to use. 

Let's get started!

#**0. Preparation and Setup**
We are working with our adult dataset again, so we're loading our libraries and our dataset just like last time, only with the url variable, which simplifies any dataset import for later.

In [34]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

#Reading in the data as adult dataframe
adult = pd.read_csv("https://raw.githubusercontent.com/shstreuber/Data-Mining/master/data/adult.data.simplified.csv")

#Verifying that we can see the data
adult.head()

   age         workclass  education  ...  hoursperweek  nativecountry incomeUSD
0   39         State-gov  Bachelors  ...            40  United-States     43747
1   50  Self-emp-not-inc  Bachelors  ...            13  United-States     38907
2   38           Private    HS-grad  ...            40  United-States     25055
3   53           Private       11th  ...            40  United-States     26733
4   28           Private  Bachelors  ...            40           Cuba     23429

[5 rows x 12 columns]

#**1. But First: Downsizing Datasets**
One of the biggest problems working with big data is to manage their size. This goes for the length of the dataset (the number of "rows" or "tuples") and for its width (the number of "columns," or attributes--or, as we should really call them, dimensions). A dove and a rabbit might fit into the same-size magicians hat, but an elephant? Not so much. The same is true for computing hardware: Stuff too many data into a machine that's too small, both in terms of hardware and in terms of memory, and your work grinds to a halt (or worse: Your machine starts smoking, and all the processing causes an electric fire. Your instructor may have learned this the hard way. Ahem ...).

##**1.1 Slicing**
Slicing and subsetting are related. While Slicing requires indexing, which we will see below with the `iloc` operator, subsetting does not require indexing. 

##iloc

**iloc** allows you to define exactly the "fields" that you want to see:

* `df.iloc[0:5,]` shows you the ROWS with the indices 0 through 5
* `df.iloc[,0:5]` shows you the first five COLUMNS
* `df.iloc[0:,0:5]` shows you the first five ROWS and the first five COLUMNS

Practice this below:

In [35]:
# Looking at only the first 5 rows
adult.iloc[0:5,]

   age         workclass  education  ...  hoursperweek  nativecountry incomeUSD
0   39         State-gov  Bachelors  ...            40  United-States     43747
1   50  Self-emp-not-inc  Bachelors  ...            13  United-States     38907
2   38           Private    HS-grad  ...            40  United-States     25055
3   53           Private       11th  ...            40  United-States     26733
4   28           Private  Bachelors  ...            40           Cuba     23429

[5 rows x 12 columns]

Now, use the field below to display only the first five columns

And now the first five columns and the first five rows:

Now save the first five columns and the first five rows into their own dataframe like this:

`adult_[yourname]_short = adult.iloc[` ... followed by the actual iloc code and then display the contents:

##**1.2 Subsetting**
Subsetting does not require knowing the index numbers for rows or columns. Instead, it sets up row-based filters. For more about subsetting, click [here](https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/) or continue below.

What if we want to see only the people who are 90 years old?

In [36]:
adult[adult['age'] == 90]

       age         workclass  ...        nativecountry  incomeUSD
222     90           Private  ...        United-States      36040
1040    90           Private  ...        United-States      24955
1935    90           Private  ...        United-States      43154
2303    90           Private  ...        United-States      29655
2891    90           Private  ...          Puerto-Rico      20750
4070    90           Private  ...        United-States      47745
4109    90                 ?  ...        United-States      28674
5104    90           Private  ...        United-States      24933
5272    90           Private  ...        United-States      40440
5370    90         Local-gov  ...        United-States     119802
5406    90           Private  ...        United-States     124209
6232    90  Self-emp-not-inc  ...        United-States      22426
6624    90           Private  ...        United-States      26540
8806    90           Private  ...        United-States      60349
8963    90                 ?  ...        United-States      27959
8973    90           Private  ...        United-States      97437
10210   90  Self-emp-not-inc  ...        United-States      29158
10545   90           Private  ...              Ecuador      57962
11512   90           Private  ...        United-States      38622
11731   90                 ?  ...        United-States      24170
11996   90           Private  ...        United-States      35378
12451   90                 ?  ...  South-Africa-Africa      36138
12975   90           Private  ...        United-States      48587
14159   90         Local-gov  ...          Philippines      20423
15356   90           Private  ...        United-States      35966
15892   90           Private  ...              England     169026
18277   90           Private  ...                    ?      28148
18413   90           Private  ...        United-States      42803
18725   90         Local-gov  ...        United-States      32402
18832   90           Private  ...        United-States      41390
19212   90           Private  ...        United-States      46236
19489   90           Private  ...        United-States      39146
19747   90           Private  ...        United-States      27772
20610   90           Private  ...        United-States     114687
22220   90           Private  ...        United-States      29275
24043   90  Self-emp-not-inc  ...        United-States      39158
24238   90                 ?  ...        United-States      46086
25303   90                 ?  ...        United-States      23404
28463   90       Federal-gov  ...        United-States      30260
31030   90           Private  ...        United-States      47300
31696   90                 ?  ...        United-States     144467
32277   90           Private  ...        United-States      49412
32367   90         Local-gov  ...        United-States      27600

[43 rows x 12 columns]

Now use <= 20 to find all the people who are younger than or equal to 20:

How about all the people who are older than 75?

If you are filtering for strings, the strings need to be in single or double quotes ''

Here, we are looking for everyone with a Bachelors degree:

In [37]:
adult[adult['education'] == 'Bachelors']

       age         workclass  education  ...  hoursperweek  nativecountry incomeUSD
0       39         State-gov  Bachelors  ...            40  United-States     43747
1       50  Self-emp-not-inc  Bachelors  ...            13  United-States     38907
4       28           Private  Bachelors  ...            40           Cuba     23429
9       42           Private  Bachelors  ...            40  United-States     87200
11      30         State-gov  Bachelors  ...            40          India    189843
...    ...               ...        ...  ...           ...            ...       ...
32530   35                 ?  Bachelors  ...            55  United-States     50806
32531   30                 ?  Bachelors  ...            99  United-States     38437
32533   54           Private  Bachelors  ...            50          Japan    198066
32536   34           Private  Bachelors  ...            55  United-States    122333
32538   38           Private  Bachelors  ...            45  United-States     68279

[5355 rows x 12 columns]

##**1.3 Building your own reduced dataset**
Now you have all the tools you need to reduce your dataset (without changing its values--we'll do that in our next step) to a size that's 

1. Manageable for your hardware
2. Practical for you to work with

One of the WORST things you can do to yourself, your computer, and your instructor is to keep working with the HUGE dataset. That often leads to confusion and doesn't work well. Use **discernment and critical thinking** when working with data. Your future employer will thank you!

Below are some of the techniquest that will help you:

In [38]:
# Selecting multiple columns at the same time extracts a new DataFrame from your existing DataFrame. 
# For selection of multiple columns, the syntax is: square-brace selection with a list of column names, 
# e.g. data[['column_name_1', 'column_name_2']]
adult[['age','education','sex']]

       age   education     sex
0       39   Bachelors    Male
1       50   Bachelors    Male
2       38     HS-grad    Male
3       53        11th    Male
4       28   Bachelors  Female
...    ...         ...     ...
32556   27  Assoc-acdm  Female
32557   40     HS-grad    Male
32558   58     HS-grad  Female
32559   22     HS-grad    Male
32560   52     HS-grad  Female

[32561 rows x 3 columns]

In [39]:
# Alternately, you can use numeric indexing with the iloc selector and a list of column numbers, e.g. data.iloc[:, [0,1,20,22]]
# This allows you to specify colums, as well
adult.iloc[0:5,[0,1,7,10,11]]

   age         workclass   race  nativecountry  incomeUSD
0   39         State-gov  White  United-States      43747
1   50  Self-emp-not-inc  White  United-States      38907
2   38           Private  White  United-States      25055
3   53           Private  Black  United-States      26733
4   28           Private  Black           Cuba      23429

**AAAAAAND**, as they say, the piece de resistance: Combining row filters and column filters!

In [40]:
adult[adult['education'] == 'Bachelors'].iloc[0:5,[0,1,2,10,11]]

    age         workclass  education  nativecountry  incomeUSD
0    39         State-gov  Bachelors  United-States      43747
1    50  Self-emp-not-inc  Bachelors  United-States      38907
4    28           Private  Bachelors           Cuba      23429
9    42           Private  Bachelors  United-States      87200
11   30         State-gov  Bachelors          India     189843

Now, build an adult_small dataframe with rows 70-80 and all columns. You will need this dataframe later.

## **1.4. Dimensionality Reduction**
So far, we have learned the mechanics of making our datasets smaller based on practical deliberations--specifically, what columns and what rows we want in order to produce a valid analysis. The goal of Dimensionality Reduction is similar: To make our dataset smaller, so it's easier to handle. However, the reasons are different.

With Dimensionality Reduction, we are looking at **the data themselves** to show us ways in which they can be summarized and simplified. This can happen as follows:
- Column-based: Eliminate attributes that are bascially duplicates of one another 
- Row-based: Aggregate similar attribute levels in one level
- Binning and Bucketing
- Normalization of values

We will learn about the first two bullet points below; we will come back to the last two bullet points once we have stepped through data transformation.

###Column-Based Dimensionality Reduction###
In the adult dataset, 'maritalstatus' and 'relationship' look very closely related. If there is a 1:1 relationship between all data values (or at least most of them), this means that the information is really duplicate, so we can choose to eliminate one of these columns. 

Let's see if we need both of them.

In [41]:
household=adult[['relationship', 'maritalstatus']]
household.groupby('relationship').sum()

                                                    maritalstatus
relationship
Husband         Married-civ-spouseMarried-civ-spouseMarried-ci...
Not-in-family   Never-marriedDivorcedMarried-spouse-absentNeve...
Other-relative  Married-civ-spouseNever-marriedNever-marriedNe...
Own-child       Never-marriedNever-marriedNever-marriedNever-m...
Unmarried       Never-marriedDivorcedSeparatedDivorcedNever-ma...
Wife            Married-civ-spouseMarried-civ-spouseMarried-AF...

The output shows us that we have many different values in 'maritalstatus' that are tied to one value in 'relationship.' In relational database terms (for those of you who have taken a database class), this is basically a many-to-one relationship. What we are looking for is a one-to-one relationship. So, 'maritalstatus' and 'relationship' won't work.

What if we look at this relationship the other way around, using 'maritalstatus' on the left, though?

In [62]:
household.groupby('maritalstatus').sum()

                                                            relationship
maritalstatus
Divorced               Not-in-familyUnmarriedUnmarriedNot-in-familyOw...
Married-AF-spouse      WifeWifeWifeHusbandHusbandHusbandWifeOwn-child...
Married-civ-spouse     HusbandHusbandWifeWifeHusbandHusbandHusbandHus...
Married-spouse-absent  Not-in-familyNot-in-familyUnmarriedNot-in-fami...
Never-married          Not-in-familyNot-in-familyOwn-childNot-in-fami...
Separated              UnmarriedUnmarriedOwn-childUnmarriedOther-rela...
Widowed                UnmarriedUnmarriedNot-in-familyNot-in-familyUn...

Let's try setting a matrix that shows all unique combinations of 'relationship' and 'maritalstatus'. We will use relationship as index and use apply and lambda to sort maritalstatus according to that index.

In [63]:
household2 = household.groupby('relationship').apply(lambda x: x['maritalstatus'].unique())
household2

relationship
Husband                     [Married-civ-spouse, Married-AF-spouse]
Not-in-family     [Never-married, Divorced, Married-spouse-absen...
Other-relative    [Married-civ-spouse, Never-married, Separated,...
Own-child         [Never-married, Divorced, Married-civ-spouse, ...
Unmarried         [Never-married, Divorced, Separated, Widowed, ...
Wife                        [Married-civ-spouse, Married-AF-spouse]
dtype: object

Can you turn this around and use 'maritalstatus' as index? Use the field below.

So, we've looked at the connection between 'relationship' and 'maritalstatus' from all different sides--and we are still finding these one-to-many relationships that go both ways. Unless we join each unique value from one attribute with each unique value in the other attribute into the same column, we will need to keep both columns.

Let's see if there is a better connection between 'educationyears' and 'education.'

In [ ]:
degree=adult[['educationyears', 'education']]
# degree.sort_values('educationyears')  # This gives us the entire list sorted, but we want to display the unique values
# degree.groupby('educationyears').sum() # That's what we had before--we can do better!

# Let's try setting a matrix that is indexed by educationyears. This is what apply and lambda x do. 
degree2 = degree.groupby('educationyears').apply(lambda x: x['education'].unique())
degree2

Can you turn this around and use 'education' as index?

In contrast to 'maritalstatus' and 'relationship, it seems that 'educationyears' and 'education' are unqiuely related. This means we need only one of these columns. Since working with numbers is always easier, we choose 'educationyears' and will eliminate 'education'.
To drop a columns, we can use a couple of methods:
1. We can rebuild the dataframe (or a different dataframe) with only the columns that we want, for example: `adult4=adult[['age','race','sex','educationyears','income']]`--that kind of thing
2. We can use the pandas drop function as explained here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html. Another explanation with a data frame sample is here: http://cmdlinetips.com/2018/04/how-to-drop-one-or-more-columns-in-pandas-dataframe/.  This is a better way to modify your dataframe. 

Now, build an adult4 dataframe that contains all columns of the adult dataframe EXCEPT 'education'

### Row-Based Dimensionality Reduction
Along with setting a filter and storing the output in a separate dataframe as we have seen at the beginning of this file, you can also remove rows from a dataframe by using the “drop” function. To do so, you will need to  specify axis=0. 

Drop() removes rows based on “labels”, rather than numeric indexing. To delete rows based on their numeric position / index, use iloc to reassign the dataframe values, as in the examples below.

Read more about drop() and axis values (0 or 1) [here](https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/).

In [ ]:
#Delete the rows with label 'white'
#For label-based deletion, set the index first on the dataframe:
adult5 = adult
adult5 = adult5.set_index('race')
adult5.head()

In [ ]:
# Now we delete the rows where the index shows "White"
adult5 = adult5.drop('White', axis=0) # Delete all rows with label 'White'
adult5.head()

In [ ]:
# We can also delete the rows with labels 0,1,5
adult5 = adult.drop([0,1,5], axis=0)
adult5.head()

Check out the results above--notice how indices 0,1, and 5 are missing?

Now, put everything together that you have learned so far, experiment a bit, and then use the space below to build a new adult5 dataframe that contains only rows of non-white races.